h2 {
    color: #5FCFFC;
    background-color: rgb(89, 250, 0);
}

button {
    color: magenta;
    background-color: cyan;
}

p {
    color: olive;
    background: orange;
}

body {
    background-color: #cc55ee;
}
